<div class="cc-wizard">

  <div class="cc-pasos-barra">
    {{#each pasos}}
    <div class="cc-paso {{#if active}}active{{/if}} {{#if done}}done{{/if}}">
      <div class="cc-paso-circulo">{{num}}</div>
      <div class="cc-paso-label">{{short}}</div>
    </div>
    {{#unless @last}}<div class="cc-paso-line {{#if done}}done{{/if}}"></div>{{/unless}}
    {{/each}}
  </div>

  <div class="cc-caract-bar">
    <div class="cc-caract-bar-item">
      <span class="cc-caract-bar-label">CUE</span>
      <span class="cc-caract-bar-val" data-caract="cuerpo"></span>
    </div>
    <div class="cc-caract-bar-sep">·</div>
    <div class="cc-caract-bar-item">
      <span class="cc-caract-bar-label">MEN</span>
      <span class="cc-caract-bar-val" data-caract="mente"></span>
    </div>
    <div class="cc-caract-bar-sep">·</div>
    <div class="cc-caract-bar-item">
      <span class="cc-caract-bar-label">ESP</span>
      <span class="cc-caract-bar-val" data-caract="espiritu"></span>
    </div>
    <div class="cc-caract-bar-sep">·</div>
    <div class="cc-caract-bar-item">
      <span class="cc-caract-bar-label">ATR</span>
      <span class="cc-caract-bar-val" data-caract="atractivo"></span>
    </div>
    <div class="cc-caract-bar-sep">·</div>
    <div class="cc-caract-bar-item">
      <span class="cc-caract-bar-label">TAM</span>
      <span class="cc-caract-bar-val" data-caract="tamano"></span>
    </div>
  </div>

  <div class="cc-content">

    {{#if (tq-eq pasoId "caracteristicas")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-caracteristicas.hbs"}}

    {{else if (tq-eq pasoId "edad")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-edad.hbs"}}

    {{else if (tq-eq pasoId "origen")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-origen.hbs"}}

    {{else if (tq-eq pasoId "especie")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-especie.hbs"}}

    {{else if (tq-eq pasoId "entorno")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-entorno.hbs"}}

    {{else if (tq-eq pasoId "profesion")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-profesion.hbs"}}

    {{else if (tq-eq pasoId "ventajas")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-ventajas.hbs"}}

    {{else if (tq-eq pasoId "rasgos")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-rasgos.hbs"}}

    {{else if (tq-eq pasoId "equipo")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-equipo.hbs"}}

    {{else if (tq-eq pasoId "habilidades")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-habilidades.hbs"}}

    {{else if (tq-eq pasoId "religion")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-religion.hbs"}}

    {{else if (tq-eq pasoId "magia")}}
    {{> "systems/tierras-quebradas/templates/partials/cc/_cc-paso-magia.hbs"}}

    {{else}}
    <div class="cc-placeholder">
      <div class="cc-placeholder-icon">⚙</div>
      <p class="cc-placeholder-titulo">{{pasoLabel}}</p>
      <p class="cc-placeholder-desc">Este paso se implementará próximamente.</p>
    </div>
    {{/if}}

  </div>

  <div class="cc-footer">
    <div class="cc-footer-recursos">
      <div class="cc-pp-total">
        <span class="cc-pp-label">PP</span>
        <span class="cc-pp-valor">{{ppTotal}}</span>
      </div>
      <div class="cc-pp-total">
        <span class="cc-pp-label">Hab. libres</span>
        <span class="cc-pp-valor">{{puntosHab}}</span>
      </div>
    </div>
    <div class="cc-nav">
      {{#if hayAnterior}}
      <button type="button" class="cc-btn-anterior">Anterior</button>
      {{/if}}
      {{#if mostrarCrear}}
      <button type="button" class="cc-btn-crear">Crear Personaje</button>
      {{/if}}
      {{#unless esUltimoPaso}}
      <button type="button" class="cc-btn-siguiente">Siguiente</button>
      {{/unless}}
    </div>
  </div>

</div>
