<div class="director-widget-body">

  <div class="director-bloque director-infortunio">
    <div class="director-titulo">{{localize "TQ.Director.Infortunio"}}</div>
    <div class="inf-contador">
      <button type="button" class="inf-menos">−</button>
      <span class="inf-valor">{{infortunio}}</span>
      <button type="button" class="inf-mas">+</button>
    </div>
  </div>

  <div class="director-separador"></div>

  <div class="director-bloque">
    <button type="button" class="director-btn despertar-pasion-btn">{{localize "TQ.Botones.DespertarPasion"}}</button>
  </div>

  <div class="director-separador"></div>

  <div class="director-bloque">
    <button type="button" class="director-btn fin-sesion-btn">{{localize "TQ.Botones.FinSesion"}}</button>
  </div>

  <div class="director-separador"></div>

  <div class="director-bloque">
    <button type="button" class="director-btn fin-aventura-btn">{{localize "TQ.Botones.FinAventura"}}</button>
    <div class="aventura-px">
      <div class="director-titulo">{{localize "TQ.Director.PXHito"}}</div>
      <input type="number" class="px-aventura-input" value="{{pxAventura}}" min="1" max="10" />
    </div>
  </div>

</div>
