<div class="{{cssClass}} flexcol" autocomplete="off" style="height:100%;width:100%;">

  <section class="item-body">
    <h1><input type="text" name="name" value="{{item.name}}" placeholder="{{localize "TQ.Placeholders.Nombre"}}" /></h1>
    <div class="item-grid" style="margin-top:16px;">
      <div class="tq-field-group">
        <label>{{localize "TQ.General.Tipo"}}</label>
        <select name="system.tipo">
          <option value="ventaja"    {{selected system.tipo "ventaja"}}>{{localize "TQ.VentajaDesventaja.ventaja"}}</option>
          <option value="desventaja" {{selected system.tipo "desventaja"}}>{{localize "TQ.VentajaDesventaja.desventaja"}}</option>
        </select>
      </div>
      <div class="tq-field-group">
        <label>{{localize "TQ.General.CostePP"}}</label>
        <input type="number" name="system.coste" value="{{system.coste}}" />
      </div>
    </div>
    <div class="tq-field-group full-width">
      <label>{{localize "TQ.General.Efecto"}}</label>
      <textarea name="system.efecto" rows="3">{{system.efecto}}</textarea>
    </div>
    <div class="tq-field-group full-width" style="margin-top:16px;">
      <label>{{localize "TQ.General.Descripcion"}}</label>
      <textarea name="system.descripcion" rows="5">{{system.descripcion}}</textarea>
    </div>
  </section>
</div>
